doctype html
html
  head
    title Beacon Monitor
    link(rel='stylesheet', href='/css/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js') 
    block scripts
  body
    block content
